<%- include("partials/header.ejs") %>
    <section class="main p-color">
        <form id="entry-form" class="content" <%= locals.post ? 'action=/edit-post?id=' + post.id : 'action=/create-post' %> method="POST">
            <div>
                <label for="author">Author</label>
                <input required class="form-border" <%- locals.post ? 'value="' + post.author + '"' : '' %> type="text" name="author" placeholder="Author">
            </div>
            <div>
                <label for="title">Title</label>
                <input required class="form-border" <%- locals.post ? 'value="' + post.title + '"' : '' %> type="text" name="title" placeholder="Your Blog Title">
            </div> 
            <div>
                <label for="content">Content</label>
                <textarea required class="form-border" rows="6" name="content"><%= locals.post ? post.content : '' %></textarea>
            </div>
        
                <button class="form-button" type="submit" value="submit">Publish</button>
        </form>
    </section> 
<%- include("partials/footer.ejs") %>

 